.home-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   /* centers vertically */
  align-items: center;       /* centers horizontally */
  padding-top: 25vh;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: auto;
}

.home-logo img{
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.home-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.1;
}

.home-title span {
  color: #fff;
  font-size: 2.3rem;
  font-weight: 700;
}


.home-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
